:root{
    --primario:#2fb1ec;
    --primarioOscuro:#89119D;
    --secundario:#FFCE00;
    --blanco: #FFFFFF;
    --negro:#000000;

    --fuentePrincipal: 'Staatliches', cursive;
}

html{
  box-sizing: border-box;
  font-size: 62.5%;

}

*,*:before, *:after{
  box-sizing: inherit;
}

/* Globales */

body{
  background-color: var(--primario);
  font-size: 1.6rem;
  line-height: 1.5;
}

p{
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--blanco);

}

a{
  text-decoration: none;
}

img{
  max-width: 100%;

}

.contenedor{
  max-width: 120rem;
  margin:0 auto;

}

h1, h2, h3{
  text-align: center;
  color:var(--secundario);
  font-family: var(--fuentePrincipal);
}

h1{
  font-size: 4rem;


}

h2{
  font-size: 3.2rem;
  color:navy;
}

h3{
  font-size: 2.4;
}

/* Este header */

.header{
  display:flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1;


}

.header__logo{
  margin:2rem 0;
  border-radius: 50%;
  background-size: 30%;
  width: 50%;
  line-height: 1;
}

.header__logo--banner{
width: 100%;
/* margin:3rem; */
/* align-items: center; */
/* justify-content: center; */
}

/* navegación */
.navegacion{
background-color: var(--primarioOscuro);
padding: 1rem 0;
display: flex;
justify-content: center;
gap: 2rem;
border-radius: 10px;
}

.navegacion__enlace{
  font-family: var(--fuentePrincipal);
  color: var(--blanco);
  font-size: 3rem;
  
}
.navegacion__enlace:hover,
.navegacion__enlace:focus{
  color:var(--secundario);
}

/* Footer */

.footer{
background-color:#1b1919d7;
margin:2rem;
justify-content: center;
text-align: center;
font-size: 1.8rem; 
border-radius: 10px;
font-family: var(--fuentePrincipal);

}

.footer__texto{
font-family: var(--fuentePrincipal);



}

/* grid */
.grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:2rem;
  text-align: center;

}
@media (min-width:768px){
  .grid{
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
  }
}
/* productos */
.productos{
  background-color: var(--primarioOscuro);
  padding: 1rem;


}

.poducto__imagen{
 background-size: cover;
 height: 75%;
  

}
/* .producto__información{

} */
.producto__nombre{
  font-size: 3rem;

}
.producto__precio{
font-size: 2rem;
color: var(--secundario);


}

.producto__nombre,
.producto__precio{
  font-family: var(--fuentePrincipal);
  margin: 1rem;
  padding: 0;
  display:flex;
  justify-content: center;
  text-align: center;
  line-height: 1;
}

.grafico{
  min-height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1/3;

}

.grafico--camisas{
  grid-row: 2/3;
  background-image: url(../css/img/grafico1.jpg);

}
.grafico--node{
  background-image: url(../css/img/3.jpg);
  grid-row: 8/9;

}
@media(min-width: 768px){
.grafico--node{
  grid-row: 5/6;
  grid-column: 2/4;
  
}

}
